# website
node_modules/
package-lock.json
website/.vitepress/dist/
website/.vitepress/cache/

# python
python/.venv/
python/.pytest_cache/
python/**/__pycache__/
python/**/*.pyc

# javascript
javascript/node_modules/
javascript/dist/

# java
java/target/

# rust
rust/target/

# go
go/vendor/
